body{
  float: left;
  margin: 0;
  padding: 0;

}
.img{
  height: 100%;
}
.img2{
  margin-left: -245px;
  margin-top: 75px;
  height: 700px;
}
.header{
  float: left;
  height: auto;
  width: 100%;
  background: radial-gradient(circle, #ffef3e 1%, #efa00c 60%);
}
.textm{
  font-size: 18pt;
  font-family: Arial;
  font-weight: 600;
  font-style: #0000d1;
}
.menu{
  float: left;
  width: 100%;
  height: auto;
}
.mn{
  float: left;
  margin-top: 100px;
  margin-left: 65px;
  width: auto;
  height: auto;

}

.mn1{
  float: left;
  margin-left: 7%;
  margin-right: 100px;
  margin-top: 50px;
  width: auto;
  height: 100px;
}
.contanier{
  float: left;
  width: 100%;
  height: auto;
  background-color: #efefef;
}
.sl1{
  float: left;
  margin-top: 200px;
  margin-left: 7%;
  margin-bottom: 200px;
  width: 35%;
}
.textsl1{
    font-size: 43pt;
    font-family: Arial;
    font-weight: 600;
    font-style: #0000d1;
}
.textsl2{
  font-size: 20pt;
  font-family: Arial;
  font-weight: 100;
  font-style: #0000d1;
}
.textsl3{
  margin-top: 45px;
  font-size: 24pt;
  font-family: Arial;
  font-weight: 600;
  font-style: #0000d1;
}
.textsl4{
  margin-top: 45px;
  font-size: 16pt;
  font-family: Arial;
  font-weight: 400;
  font-style: #0000d1;
  color: #505050;
}
.but{
  background-color: #00b86f;
  margin-top: 60px;
  width: 70%;
  height: auto;
  font-size: 22pt;
  color: #ffffff;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;

}

.garant{
  float: left;
  width: 100%;
  height: auto;
}

.g1{
  margin-left: 7%;
  margin-bottom: 5%;
  width: 25%;
  height: auto;
  float: left;

}
.g2{
  margin-left: 5%;
  margin-bottom: 5%;

  width: 25%;
  height: auto;
  float: left;
}
.g3{
  margin-left: 5%;
  margin-bottom: 5%;
  width: 25%;
  height: auto;
  float: left;
}

.label{
  margin-top: -50px;
  margin-bottom: 30px;
  background-color: #ABCABC;
  height: 150px;
  width: 150px;
}
.otz{
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}
.obr{
  float: left;
  width: 100%;
  height: 900px;
}
footer{
  background-color: #191a1c;
  float: left;
  width: 100%;
  height: auto;
}

fieldset{

  border-radius: 20px;

  text-align: center;
  position: fixed;
  left: 25%;
  width: 50%;
}
.modal{
 width: 100%;
 background: rgba(0, 180, 190, 0.4)

}
.td1{
  padding-bottom: 50px;
}

textarea{
  width: 90%;
  max-width: 800px;
  min-width: 300px;
  max-height: 300px;
  min-height: 100px;
  border-radius: 10px;


}

::-webkit-input-placeholder {
text-align:center;
}

legend{
  background-color: #ccc;
  border-radius: 5px;
  font-size: 30px;
}
table{
  margin: 5%;
  width: 90%;
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: #ffff;
}
label{
  padding: 5px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.6)


}
td{
  padding: 5px;
}
th{
  color: white;
  font-size: 20px;
}
.td1{
  padding-bottom: 40px;
}
select{
  padding: 5px;
}
.man{
  float: left;
  margin-left: 1%;
  background-color: black;
  width: 20%;
  height: 300px;
}
.lb{
  float: left;
  margin-left: 1%;
  background-color: black;
  width: 20%;
  height: 300px;
}
.ot{
  float: left;
  margin-left: 1%;
  background-color: black;
  width: 55%;
  height: 300px;
}

.opz{
  margin: 7%;
}
.mane{
  background-color: #CDCDCD;
  width: 100%;
}
.obr{

}
