html{
  margin: 0;
  padding: 0;
  background: url(../images/compress/background.jpg);
  background-size: 100%;
}
.d{
  border: 11px solid #40c4c8;
  -moz-border-image: url(../images/pd1.png) 10 round round;
  -webkit-border-image: url(../images/pd1.png) 10 round round;
  -o-border-image: url(../images/pd1.png) 10 round round;
  border-image: url(../images/pd1.png)10 round round;
}

table{
  vertical-align: top;
}

.img1{
  width: 100%;
  margin-top:30px;
}

.back{
  background: url(../images/tb.jpg);
  background-size: 100%;
}

.op{
  width: 900px;
  height: 800px;
  background-image: url(../images/fon.png);
  background-size: 100%;
  margin: 30px;
  margin-left: 400px;
}
.pers{
  float:left;
  margin:50px 0 0 100px;
  width: 400px;
}
.opic{
  float:left;
  margin-top:90px;
}
.fig {
    margin 0;
}
.dis{
    margin-bottom: 100px;
    width: 300px;

}
.text{
  text-align: left;
  font-weight: bold;
  font-size: 20px;

}
.ug{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.text2{
  text-align: left;
  font-size: 18px;
  font-weight: normal;

}
.l{
  weight: 10px;
  height: 10px;
  margin: 0;
}
a{
  color: #000000;
  text-decoration: none;
}
