body{

		background: url(../images/compress/background.jpg);
		background-size: 100%;
}
.d{
		border: 11px solid #40c4c8;
		-moz-border-image: url(../images/pd1.png) 10 round round;
		-webkit-border-image: url(../images/pd1.png) 10 round round;
		border-image: url(../images/pd1.png)10 round round;
		-o-border-image: url(../images/pd1.png) 10 round round;
}

table{
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		width: 80%;
		margin: 7%;
}

img{
		width: 100%;
}

.back{
	 background: url(../images/tb.jpg);
	 background-size: 100%;
}
a{
  color: #000000;
  text-decoration: none;
}
