header{
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 10 100px rgba(0, 0, 0, 1);
}
.menubar{
  margin-left: 30px;
  padding-top: 30px;
}
.menuitem{
  height: 30px;
  width: 200px;

  float: left;
  text-align: center;
  font-family: SEGOE SCRIPT;
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16pt;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menuitem:hover{
  color: white;
  border-right: 1px solid white;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
