.lookit{

}
main{

}
.main{
  margin-top: 13%;
  margin-bottom: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
  font-size: 130pt;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 3%;
  border-left: 30px solid rgba(255, 255, 255, 0.8);
  font-family: SEGOE SCRIPT;
  font-style: italic;
}
