body{
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
 align-content: space-between;
}


.block-Irland {
  margin: 30px;
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 0) 1px solid;
  width: 400px;
  height: 200px;
  background-image: linear-gradient(to right,
    #009A63 0%,
    #009A63 33%,
    #FFFFFF 33%,
    #FFFFFF 66%,
    #FF823D 66%);

}

.block-hz {
  margin: 30px;
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 0) 1px solid;
  width: 400px;
  height: 200px;
  background-image: linear-gradient(45deg,
    #ff0000 0%,
    #ff0000 33%,
    #FFFFFF 33%,
    #FFFFFF 40%,
    #000000 40%,
    #000000 60%,
    #FFFFFF 60%,
    #FFFFFF 67%,
    #ff0000 67%);

}

.block-kongo {
  margin: 30px;
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 0) 1px solid;
  width: 400px;
  height: 200px;
  background-image: linear-gradient(-45deg,
    #EF3340 0%,
    #EF3340 37%,
    #FFD100 37%,
    #FFD100 65%,
    #009639 65%);

}

.block-mavriki {
  margin: 30px;
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 0) 1px solid;
  width: 400px;
  height: 200px;
  background-image: linear-gradient(to bottom,
    #EF3340 0%,
    #EF3340 25%,
    #0000af 25%,
    #0000af 50%,
    #FFD100 50%,
    #FFD100 75%,
    #009639 75%);

}

.block-hz2 {
  margin: 30px;
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 0) 1px solid;
  width: 400px;
  height: 200px;
  background-image: linear-gradient(to top,
    #00afff 0%,
    #00afff 31%,
    #FFFFFF 31%,
    #FFFFFF 35%,
    #000000 35%,
    #000000 63%,
    #FFFFFF 63%,
    #FFFFFF 67%,
    #00afff 67%);

}
.block{
  margin: 30px;
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 0) 1px solid;
  width: 400px;
  height: 200px;
}
.block-hz3-col1 {
  float: left;
  width: 33%;
  height: inherit;
  background: #ffffff;

}
.block-hz3-col2{
  float: left;
  width: 67%;
  height: inherit;
  background-image: linear-gradient(to bottom,
      #EF3340 0%,
      #EF3340 50%,
      #009639 50%);
}
