.paper-btn {
  display: inline-block;
  height: 50px;
}

.paper-btn label {
  display: inline-block;
  width: 80px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
}

.paper-btn input {
  display: none;
}

.paper-btn-true input:checked ~ label {
  background-color: green;
  color: #ffffff;
  font-weight: bolder;
  box-shadow: 0 0 0;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-btn-false input:checked ~ label {
  background-color: red;
  color: #ffffff;
  font-weight: bolder;
  box-shadow: 0 0 0;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.yes-no-selector{
  margin-left: 40px;
}

.question{
   margin: 40px;
   font-family: Arial;
}
.table{
  margin-left: 40px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.el input:checked ~ label{
  background-color: white;
  color: #616161;
  font-weight: bolder;
  box-shadow: 0 0 0;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.el label {
  display: inline-block;
  width: 80px;
  /*border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  */
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
}
.el label::after{
  background-color: red;
}
