body{
  margin-left: 25%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

}

img{
  width: inherit;
  height: inherit;
}

.img1{
  filter: hue-rotate(90deg);
}

.img2{
  filter: blur(3px);
}

.img3{
  filter: sepia(75%)
}

.img4{
  filter: contrast(30%);
}

.img5{
  filter: grayscale(.75);
}

.img6{
  filter: brightness(40%);
}

.img7{
  filter: hue-rotate(270deg);
}

.img8{
  filter: saturate(3000%);
}

.block {

  margin: 30px;
  background: rgb(255, 170, 0);
  border: rgb(0, 0, 0) 1px solid;
  width: 400px;
  height: 400px;

}
